* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: auto;
  border: none;
  font-family: "Roboto", sans-serif; }

a, button {
  cursor: pointer; }

html {
  height: 101%; }

body {
  background-color: #E4E4E4; }

.content {
  width: 720px;
  margin: auto; }

.skill-edit-icons {
  position: absolute;
  right: 30px;
  top: 15px; }
  .skill-edit-icons button {
    background: transparent; }
  .skill-edit-icons .skill-edit-icon {
    height: 20px;
    width: auto;
    margin: 0 4px; }
  .skill-edit-icons .skill-editing-helper {
    position: relative;
    display: inline-block; }
    .skill-edit-icons .skill-editing-helper .skill-editing {
      z-index: 5;
      position: absolute;
      top: 30px;
      right: -10px;
      background-color: white;
      border: 1px solid #E4E4E4;
      border-radius: 8px;
      white-space: nowrap;
      font-size: 18px;
      width: 240px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
      .skill-edit-icons .skill-editing-helper .skill-editing ul {
        list-style: none; }
      .skill-edit-icons .skill-editing-helper .skill-editing li button {
        width: 100%;
        text-align: left;
        padding: 15px 12px 12px 25px; }
      .skill-edit-icons .skill-editing-helper .skill-editing li button:focus, .skill-edit-icons .skill-editing-helper .skill-editing li button:hover {
        background-color: #E4E4E4; }
      .skill-edit-icons .skill-editing-helper .skill-editing li:first-child button {
        border-radius: 7px 7px 0 0; }
      .skill-edit-icons .skill-editing-helper .skill-editing li:last-child button {
        border-radius: 0 0 7px 7px; }
