* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: auto;
  border: none;
  font-family: "Roboto", sans-serif; }

a, button {
  cursor: pointer; }

html {
  height: 101%; }

body {
  background-color: #E4E4E4; }

.content {
  width: 720px;
  margin: auto; }

.mainHeader {
  background-color: #00D1A0;
  height: 70px;
  position: fixed;
  z-index: 5;
  width: 100%;
  top: 0; }
  .mainHeader .headerContainer {
    height: inherit;
    display: flex;
    justify-content: space-between; }
  .mainHeader .header-element {
    padding: 6px;
    margin: 10px 10px; }
    .mainHeader .header-element .header-icon {
      height: 35px;
      width: auto;
      margin-right: 8px;
      vertical-align: middle; }
    .mainHeader .header-element .header-description {
      position: relative;
      top: 4px;
      height: inherit;
      font-size: 23px;
      color: white;
      white-space: nowrap; }

.skill {
  height: 80px;
  background-color: white;
  border-radius: 3px;
  padding: 8px;
  position: relative;
  margin-top: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
  .skill .skill-edit-icons {
    position: absolute;
    right: 30px;
    top: 15px; }
    .skill .skill-edit-icons button {
      background: transparent; }
    .skill .skill-edit-icons .skill-edit-icon {
      height: 20px;
      width: auto;
      margin: 0 4px; }
    .skill .skill-edit-icons .skill-editing-helper {
      position: relative;
      display: inline-block; }
      .skill .skill-edit-icons .skill-editing-helper .skill-editing {
        z-index: 5;
        position: absolute;
        top: 30px;
        right: -10px;
        background-color: white;
        border: 1px solid #E4E4E4;
        border-radius: 8px;
        white-space: nowrap;
        font-size: 18px;
        width: 240px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
        .skill .skill-edit-icons .skill-editing-helper .skill-editing ul {
          list-style: none; }
        .skill .skill-edit-icons .skill-editing-helper .skill-editing li button {
          width: 100%;
          text-align: left;
          padding: 15px 12px 12px 25px; }
        .skill .skill-edit-icons .skill-editing-helper .skill-editing li button:focus, .skill .skill-edit-icons .skill-editing-helper .skill-editing li button:hover {
          background-color: #E4E4E4; }
  .skill .skill-level-info {
    display: inline-block;
    width: 90px;
    margin: 6px 0 0px 40px; }
    .skill .skill-level-info .skill-level {
      font-size: 30px;
      font-weight: 700;
      color: #707070; }
    .skill .skill-level-info .skill-level-label {
      color: #707070; }
  .skill .skill-name {
    font-size: 20px;
    font-weight: 700; }
  .skill .progress-bar {
    background-color: #E4E4E4;
    border-radius: 4px;
    width: 680px;
    height: 8px;
    margin: 4px auto; }
    .skill .progress-bar .progress-bar-fill {
      background-color: #00D1A0;
      height: inherit;
      border-radius: inherit;
      min-width: 1%; }
    .skill .progress-bar #picieWody {
      width: 65%; }
    .skill .progress-bar #kliknijMnie {
      width: 80%; }
    .skill .progress-bar #rolki {
      width: 20%; }
    .skill .progress-bar #lewa {
      width: 0%; }
    .skill .progress-bar #druty {
      width: 60%; }
  .skill .experience {
    font-style: italic;
    font-size: 10px;
    color: #707070;
    float: right;
    margin-right: 30px; }
  .skill .add-experience {
    margin: 25px 0; }
    .skill .add-experience .add-experience-btn {
      margin-left: 40px;
      display: inline-block; }
      .skill .add-experience .add-experience-btn button {
        background: transparent;
        margin-right: 20px; }
    .skill .add-experience .add-experience-btn:first-child {
      margin-left: 25px; }
    .skill .add-experience .add-experience-icon {
      height: 50px;
      width: auto; }
    .skill .add-experience .add-experience-info {
      font-size: 22px;
      color: #707070;
      font-weight: 300;
      vertical-align: top;
      position: relative;
      top: 13px; }
    .skill .add-experience .play {
      display: inline-block;
      margin-left: 10px; }
      .skill .add-experience .play .play-buttons button {
        background: transparent; }
      .skill .add-experience .play .play-buttons .play-button {
        height: 20px;
        width: auto;
        margin-right: 20px; }
      .skill .add-experience .play .play-buttons .play-time-left {
        font-size: 25px;
        color: #707070; }
      .skill .add-experience .play .play-buttons .play-exp-added {
        float: right;
        font-style: italic;
        font-size: 14px;
        color: #707070;
        margin-top: 8px; }
      .skill .add-experience .play .play-progress {
        display: inline-block;
        background-color: #E4E4E4;
        height: 10px;
        width: 585px;
        border-radius: 4px;
        margin-top: 8px;
        position: relative;
        top: -3px; }
        .skill .add-experience .play .play-progress .play-progress-fill {
          display: inline-block;
          background-color: #00D1A0;
          border-radius: 4px;
          height: 10px;
          width: 4%; }

.skill:first-child {
  margin-top: 95px; }

.skill-collapsed {
  height: 160px; }

.settings {
  margin-top: 95px;
  background-color: white;
  height: 400px;
  border-radius: 4px;
  display: flex;
  flex-direction: row; }
  .settings .column {
    margin: 10px;
    width: 50%; }
  .settings .column:first-child {
    border-right: 1px solid #E4E4E4; }
  .settings section {
    margin: 10px 20px;
    padding: 5px; }
  .settings .settings-section .settings-section-header .settings-icon {
    height: 30px;
    width: auto;
    vertical-align: middle; }
  .settings .settings-section .settings-section-header .settings-header-label {
    position: relative;
    top: 2px;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 700; }
  .settings .settings-section .section-content {
    margin-top: 20px; }
    .settings .settings-section .section-content div {
      margin: 8px 0; }
    .settings .settings-section .section-content .setting-description {
      color: #707070;
      font-size: 18px; }
    .settings .settings-section .section-content .setting-input {
      font-size: 18px;
      max-width: 50px;
      float: right;
      text-align: right; }
    .settings .settings-section .section-content .setting-checkbox {
      -webkit-appearance: none;
      padding: 9px;
      border: 2px solid #707070;
      border-radius: 4px; }
    .settings .settings-section .section-content .setting-checkbox:active, .settings .settings-section .section-content .setting-checkbox:checked:active {
      background-color: #00D1A0;
      border: none;
      padding: 11px; }
    .settings .settings-section .section-content #setting-pomodoro-checkbox {
      padding-bottom: 7px;
      margin-bottom: 10px;
      border-bottom: 1px solid #E4E4E4; }
    .settings .settings-section .section-content .setting-btn {
      background-color: #E4E4E4;
      border-radius: 4px;
      border: 2px solid #707070;
      padding: 5px;
      font-size: 16px; }
    .settings .settings-section .section-content .setting-importExport-textarea {
      margin-top: 5px;
      width: 100%;
      height: 270px;
      display: block;
      border: 2px solid #707070;
      border-radius: 4px;
      resize: none;
      padding: 10px; }
    .settings .settings-section .section-content .setting-importExport-textarea::placeholder {
      font-style: italic; }
    .settings .settings-section .section-content .setting-pomodoro-information .setting-description, .settings .settings-section .section-content .setting-pomodoro-information .setting-input {
      color: #E4E4E4; }

.history {
  height: 70px;
  border-radius: 3px;
  background-color: white;
  padding: 10px 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-top: 8px; }
  .history .history-specific-info {
    color: #707070;
    font-size: 12px; }
    .history .history-specific-info .history-exp {
      float: right; }
    .history .history-specific-info .history-stars {
      margin-right: 10px;
      float: right; }
  .history .history-main-information {
    margin-top: 5px; }
    .history .history-main-information .history-skill-name {
      font-size: 20px;
      font-weight: 700; }
    .history .history-main-information .history-icon {
      height: 25px;
      width: auto;
      float: right; }

.history-filter {
  background-color: #00D1A0;
  height: 70px;
  margin-top: 90px;
  padding: 10px 0;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
  .history-filter .filter-label {
    color: white; }
  .history-filter .select-skill {
    position: relative;
    display: inline-block; }
    .history-filter .select-skill .filter-label {
      margin-left: 30px; }
    .history-filter .select-skill .history-skill-select {
      height: 32px;
      border-radius: 3px;
      padding: 6px;
      width: 160px; }
    .history-filter .select-skill .history-skill-select-btn {
      position: relative;
      top: 10px;
      right: 9px;
      height: 32px;
      width: 40px;
      background-color: #00D1A0;
      background-image: url("./SVG/drop-down.svg");
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: center;
      border-radius: 3px;
      border: 2px solid white; }
    .history-filter .select-skill .filter-skill-list {
      width: 195px;
      z-index: 5;
      list-style: none;
      position: absolute;
      left: 65px;
      background-color: white;
      border: 1px solid #E4E4E4;
      border-radius: 8px;
      white-space: nowrap; }
      .history-filter .select-skill .filter-skill-list .filter-skill button {
        background: transparent;
        width: 100%;
        text-align: left;
        padding: 15px 12px 12px 25px; }
      .history-filter .select-skill .filter-skill-list .filter-skill button:focus, .history-filter .select-skill .filter-skill-list .filter-skill button:hover {
        background-color: #E4E4E4; }
      .history-filter .select-skill .filter-skill-list .filter-skill:first-child button {
        border-radius: 8px 8px 0 0; }
      .history-filter .select-skill .filter-skill-list .filter-skill:last-child button {
        border-radius: 0 0 8px 8px; }
  .history-filter .history-date-select::-webkit-clear-button {
    display: none; }
  .history-filter .history-date-select::-webkit-inner-spin-button {
    display: none; }
  .history-filter .history-date-select::-webkit-calendar-picker-indicator {
    content: " ";
    color: transparent;
    height: 24px;
    width: 30px;
    background-color: #00D1A0;
    background-image: url("./SVG/calendar.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    margin: 2px;
    opacity: 1; }
  .history-filter .history-date-select {
    -webkit-appearance: none;
    border-radius: 3px;
    padding: 0px;
    width: 130px; }
  .history-filter .filter-finish-button {
    position: relative;
    top: 8px;
    left: 5px;
    width: 30px;
    height: 30px;
    margin: 0 7px;
    background-color: #00D1A0;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: center; }
  .history-filter #filter-cancel {
    background-image: url("./SVG/cancel.svg"); }
  .history-filter #filter-accept {
    background-image: url("./SVG/accept.svg"); }

.screenDim {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 101%;
  background-color: black;
  opacity: 0.6;
  z-index: 1000; }

.finishedTask {
  position: absolute;
  width: 500px;
  margin: auto;
  top: 10%;
  left: 0;
  right: 0;
  height: 400px;
  z-index: 1003;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #E4E4E4;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 40px 40px 20px 40px; }
  .finishedTask .finishedTask-main-message {
    font-size: 30px;
    margin-bottom: 20px; }
  .finishedTask .starsContainer {
    font-size: 30px;
    color: #707070;
    margin: 20px auto 30px auto;
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around; }
    .finishedTask .starsContainer .fa-star:hover::before,
    .finishedTask .starsContainer .fa-star:hover ~ .fa-star::before {
      color: gold; }
  .finishedTask .finishedTask-log {
    border: 1px solid #707070;
    margin: 10px auto;
    width: 300px;
    max-width: 100%;
    padding: 8px;
    border-radius: 3px; }
  .finishedTask .finishedTask-log::placeholder {
    font-style: italic; }
  .finishedTask .finishedTask-btn {
    background-color: #00D1A0;
    padding: 8px;
    margin-top: 16px;
    color: white;
    border-radius: 3px; }

/*# sourceMappingURL=main.css.map */
