*{
    margin: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;
    font-family: "Roboto", sans-serif;
}

html{
    overflow-y: scroll;
}

body{
    margin: 0;
    padding: 0;
}
