<html>
    <head>
        <title>Life Gamification</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="../popup.js"></script>
        <script src="../Models.js"></script>
        <script src="../Utils.js"></script>
        <script src="../Repository.js"></script>
        <script src="main.js"></script>
        <script src="home.js"></script>
        <script src="edit.js"></script>
        <script src="import_export.js"></script>
        <script src="timer.js"></script>
        <script src="history.js"></script>
        <link rel="stylesheet" href="../styles.css" title="external style sheet">
    </head>
    <body>
        <header>
            <a class="header__menu-icon"><img src="../../assets/iconwhite.svg" class="header-bar__menu-icon"></a>
            <a class="header__menu-text" id="Home">Home</a>
            <a class="header__menu-text" id="Edit">Edit skills</a>
            <a class="header__menu-text" id="Import-Export">Import / Export</a>
            <a class="header__menu-text" id="Timer">Timer</a>
            <a class="header__menu-text" id="History">History</a>
        </header>

        <div class="welcome-message">
            <p>Welcome to Life Gamification!<br>
            To add your first skill go to Edit skills.</p>
        </div>
        <div class="timer"></div>
        <div class="all-skills"></div>
        <div class="import-export"></div>
        <div class="history"></div>
        <div class="add-skill"></div>
    </body>
</html>
