input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.skill {
  position: relative;
  margin: 5px auto 5px auto;
  width: 60%;
  border-radius: 12px;
  border: 2px solid #C8E8E0;
  padding: 1em;
  min-width: 400px; }
  .skill .level {
    padding: 6px 0 0 16px;
    font-size: 36px;
    font-weight: bold;
    color: #00D1A0; }
  .skill .skillName {
    margin-left: 16px;
    font-size: 24px;
    line-height: 3; }
  .skill .progressBarContainer {
    display: block;
    float: left;
    border-radius: 12px 0 0 12px;
    background-color: #C8E8E0;
    height: 26px;
    width: 85%; }
    .skill .progressBarContainer .progressBarFill {
      display: block;
      border-radius: 12px 0 0 12px;
      background-color: #00D1A0;
      height: 26px;
      text-align: center;
      padding: 0.6em;
      color: #FFFFFF;
      min-width: 25px; }
  .skill .progressBarBtns {
    display: block;
    width: 14%;
    float: left; }
  .skill .addExpInput {
    display: inline;
    resize: none;
    overflow: hidden;
    float: left;
    background-color: #00D1A0;
    height: 26px;
    width: 65%;
    text-align: center;
    padding: 0.6em;
    color: #FFFFFF;
    margin: 0 2% 0 3%; }
  .skill .addBtn {
    display: inline;
    float: left;
    background-color: #00D1A0;
    border-radius: 0 12px 12px 0;
    height: 26px;
    width: 30%;
    text-align: center;
    padding: 0.55em;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer; }
  .skill .progressBarWrapper:after {
    content: "";
    display: table;
    clear: both; }
  .skill .experience {
    font-style: italic;
    font-weight: lighter; }
  .skill .removeSkillBtn {
    position: absolute;
    top: 12px;
    right: 12px;
    height: 24px;
    width: 24px;
    background-color: #FFFFFF;
    background-image: url("delete.svg");
    background-repeat: no-repeat;
    background-size: 24px auto;
    background-position: center; }

.skill:first-child {
  margin-top: 36px; }

.skillRemoveConfirmation {
  position: absolute;
  z-index: 1001;
  min-height: 100px;
  width: 50%;
  border: 2px solid #C8E8E0;
  border-radius: 12px;
  margin: 0 25%;
  background-color: #FFFFFF;
  top: 40%;
  min-width: 300px; }
  .skillRemoveConfirmation .skillRemoveMessage {
    margin: 12px;
    font-size: 18px;
    text-align: center; }
    .skillRemoveConfirmation .skillRemoveMessage .skillName {
      margin: 5px;
      font-style: italic;
      font-weight: bold; }
  .skillRemoveConfirmation .skillRemoveConfirmationButtons {
    display: flex;
    justify-content: space-around;
    margin: 20px 0; }
    .skillRemoveConfirmation .skillRemoveConfirmationButtons .skillRemoveConfirmationBtn {
      background-color: #00D1A0;
      color: #FFFFFF;
      height: 30px;
      width: 100px;
      border-radius: 12px; }

.screenDim {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #FFFFFF;
  opacity: 0.8;
  z-index: 1000; }

/*# sourceMappingURL=Skill.css.map */
