body {margin:0;}

* {
    font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.header-bar {
    display: inline-block;
    min-width: 100%;
    background-color: #00A67F;
    overflow: hidden;
    height:3.5em;
}

.header-bar a {
    color: white;
    text-align: center;
    font-size: 1.7em;
    box-sizing: content-box;
    cursor: pointer;
}

.header-bar__menu-text {
    padding: 0.6em 1.2em;
    margin: 0;
}

.header-bar__menu-icon {
    height: 2em;
    padding: 0.2em;
    margin-right: 0.2em;
}

.header-bar__menu-icon
img {
    height: 100%;
    vertical-align: middle;
}

.header-bar__menu-text.active {
    background-color: #00D1A0;
}

.header-bar__menu-text:hover {
    background-color: #00D1A0;
}

.import-export {
    margin: auto;
    margin-top: 3em;
    width: 50%;
    min-width: 30em;
}

.import-export__button {
    display: inline-block;
    height: 1.5em;
    width: 7em;
    border-radius: 0.3em;
    border: 1px solid #00D1A0;
    background-color: #00D1A0;
    text-align: center;
    color: white;
    font-size: 2em;
    padding: 0.1em;
    box-sizing: border-box;
    margin-bottom: 0.1em;
}

.import-export__json {
    display: block;
    margin: 1em 0 0 0;
    height: 8em;
    width: 100%;
    border-radius: 1em;
    border: 0.1em solid #00D1A0;
    padding: 1em;
    font-size: 1.5em;
    box-sizing: border-box;
    resize: none;
}

.all-skills {
    margin: auto;
    margin-top: 3em;
    width: 60%;
}


.skill {
    border-radius: 1em;
    border: 2px solid #C8E8E0;
    padding: 1em;
    min-width: 30em;
}

.skill__remove {
    display: block;
    float: right;
    height: 2em;
    width: auto;
}

.skill__level-number {
    padding: 0.5em 0 0 0.5em;
    font-size: 3em;
    font-weight: bold;
    color: #00D1A0;
}

.skill__name {
    padding: 0 0 0 0.5em;
    font-size: 2em;
    line-height: 3;
}

.progress-bar__container {
    display: block;
    float: left;
    border-radius: 1em 0 0 1em;
    background-color: #C8E8E0;
    height: 2.2em;
    width: 85%;
    box-sizing: border-box;
}

.progress-bar__container-fill {
    display: block;
    border-radius: 1em 0 0 1em;
    background-color: #00D1A0;
    height: 2.2em;
    text-align: center;
    padding: 0.6em;
    color: white;
    box-sizing: border-box;
}

.progress-bar__buttons {
    display: block;
    float: left;
    width: 14%;
}

.progress-bar__add-input {
    display: inline;
    resize: none;
    overflow: hidden;
    float: left;
    margin: 0 1px 0 2px;
    background-color: #00D1A0;
    height: 2.2em;
    width: 65%;
    text-align: center;
    padding: 0.6em;
    color: white;
    box-sizing: border-box;
    margin: auto;
}

.progress-bar__add-button {
    display: inline;
    float: left;
    background-color: #00D1A0;
    border-radius: 0 1em 1em 0;
    height: 2.2em;
    width: 30%;
    text-align: center;
    padding: 0.55em;
    font-weight: bold;
    color: white;
    box-sizing: border-box;
}

.progress-bar__wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.skill__experience {
    font-style: italic;
    font-weight: lighter;
}

.add-skill {
    margin: auto;
    margin-bottom: 7em;
    width: 60%;
    min-width: 30em;
}

.add-skill__name {
    float: left;
    border-radius: 1em 0 0 1em;
    border: 2px solid #C8E8E0;
    width: 90%;
    height: 4em;
    padding: 1em;
    resize: none;
    padding: 1.3em;
    box-sizing: border-box;
    font-size: 1em;
    overflow: hidden;
}

.add-skill__button {
    float: left;
    border-radius: 0 1em 1em 0;
    height: 4em;
    width: 10%;
    border: 2px solid #C8E8E0;
    box-sizing: border-box;
    white-space: nowrap;
    text-align: center;
}

.add-skill__button-helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.add-skill__button-icon {
    height: 2.5em;
    width: auto;
    margin: auto;
    vertical-align: middle;
}

.add-skill:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 500px) {
    .header-bar {
        height: auto;
    }
    .header-bar a {
        display: block;
        text-align: left;
    }
    .header-bar__menu-text{
        padding: 0.3em;
    }
    a.header-bar__menu-icon{
        display: none;
    }
    .import-export{
        width: 95%;
        overflow-x: hidden;
    }
    .add-skill{
        width: 100%;
    }
    .all-skills{
        width: 100%;
    }
}
