body {margin:0;}

* {
    font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.header-bar {
    width: 100%;
    background-color: #00A67F;
    overflow: hidden;
    max-height: 10em;
}

.header-bar a {
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 2.5em;
    border-radius: 4px;
    box-sizing: border-box;
    height: 4em;
}

.header-bar__menu-text {
    padding: 1.5em;
}

.header-bar__menu-icon {
    padding: 0.3em;
}

.header-bar__menu-icon
img {
    height: 100%;
    max-height: 3.4em;
    vertical-align: middle;
}

.header-bar a:hover {
    background-color: #00D1A0;
}

@media screen and (max-width: 610px) {
  .header-bar a {
    display: block;
    text-align: left;
  }
  .header-bar__menu-text{
    padding: 0.3em;
  }
}

.import-export {
    margin: auto;
    margin-top: 3em;
    width: 50%;
}

.import-export__button {
    display: inline-block;
    height: 1.5em;
    width: 7em;
    border-radius: 0.3em;
    border: 1px solid #00D1A0;
    background-color: #00D1A0;
    text-align: center;
    color: white;
    font-size: 2em;
    padding: 0.1em;
    box-sizing: border-box;
}

.import-export__json {
    display: block;
    margin: 1em 0 0 0;
    height: 8em;
    width: 100%;
    border-radius: 1em;
    border: 0.1em solid #00D1A0;
    padding: 1em;
    font-style: italic;
    font-size: 1.5em;
    color: #DFDDDD;
    box-sizing: border-box;
    resize: none;
}

.import-export__json:focus {
    color: black;
    font-style: normal;
}

.all-skills {
    margin: auto;
    margin-top: 3em;
    width: 60%;
}

.skill {
    border-radius: 1em;
    border: 2px solid #C8E8E0;
    padding: 1em;
}

.skill__remove {
    display: block;
    float: right;
    height: 2em;
    width: auto;
}

.skill__level-number {
    padding: 0.5em 0 0 0.5em;
    font-size: 3em;
    font-weight: bold;
    color: #00D1A0;
}

.skill__name {
    padding: 0 0 0 0.5em;
    font-size: 2em;
    line-height: 3;
}

.progress-bar__container {
    display: block;
    float: left;
    border-radius: 1em 0 0 1em;
    background-color: #C8E8E0;
    height: 2.2em;
    width: 85%;
    box-sizing: border-box;
}

.progress-bar__container-fill {
    display: block;
    border-radius: 1em 0 0 1em;
    background-color: #00D1A0;
    height: 2.2em;
    text-align: center;
    padding: 0.6em;
    color: white;
    box-sizing: border-box;
}

.progress-bar__buttons {
    display: block;
    float: left;
    width: 14%;
}

.progress-bar__add-input {
    display: inline;
    resize: none;
    overflow: hidden;
    float: left;
    margin: 0 1px 0 2px;
    background-color: #00D1A0;
    height: 2.2em;
    width: 65%;
    text-align: center;
    padding: 0.6em;
    color: white;
    box-sizing: border-box;
    margin: auto;
}

.progress-bar__add-button {
    display: inline;
    float: left;
    background-color: #00D1A0;
    border-radius: 0 1em 1em 0;
    height: 2.2em;
    width: 30%;
    text-align: center;
    padding: 0.55em;
    font-weight: bold;
    color: white;
    box-sizing: border-box;
}

.progress-bar__wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.skill__experience {
    font-style: italic;
    font-weight: lighter;
}

.add-skill {
    margin: auto;
    width: 60%;
}

.add-skill__name {
    float: left;
    border-radius: 1em 0 0 1em;
    border: 2px solid #C8E8E0;
    width: 90%;
    height: 4em;
    padding: 1em;
    resize: none;
    padding: 1.3em;
    box-sizing: border-box;
    font-size: 1em;
    color: grey;
    font-style: italic;
    overflow: hidden;
}

.add-skill__name:focus {
    color: black;
    font-style: normal;
}

.add-skill__button {
    float: left;
    border-radius: 0 1em 1em 0;
    height: 4em;
    width: 10%;
    border: 2px solid #C8E8E0;
    box-sizing: border-box;
    white-space: nowrap;
    text-align: center;
}

.add-skill__button-helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.add-skill__button-icon {
    height: 2.5em;
    width: auto;
    margin: auto;
    vertical-align: middle;
}

.add-skill:after {
    content: "";
    display: table;
    clear: both;
}
