body {margin:0;}

* {
      font-family: "Roboto", sans-serif;
}

.header-bar {
    width: 100%;
    background-color: #00A67F;
    overflow: auto;
}

.header-bar__menu-item {
    float: left;
    width: 20%;
    text-align: center;
    transition: all 0.3s ease;
    color: white;
    font-size: 2em;
    box-sizing: border-box;
}

.header-bar__menu-text {
    padding: 0.6em;
}

.header-bar__menu-icon {
    padding: 0.1em;
    max-height: 2em;
}

.header-bar__menu-icon
img {
    height: 100%;
}

.header-bar a:hover {
    background-color: #00D1A0;
}

.import-export {
    margin: 10% 25% 25% 25%;
    width: 50%;
}

.import-export__button {
    display: inline-block;
	height: 1.5em;
    width: 7em;
    border-radius: 0.3em;
    border: 1px solid #00D1A0;
	background-color: #00D1A0;
    text-align: center;
    color: white;
    font-size: 2em;
    padding: 0.1em;
    box-sizing: border-box;
}

.import-export__json {
    display: block;
    margin: 1em 0 0 0;
    height: 8em;
    width: 100%;
    border-radius: 1em;
    border: 0.1em solid #00D1A0;
    padding: 1em;
    font-style: italic;
    font-size: 1.5em;
    color: #DFDDDD;
    box-sizing: border-box;
    resize: none;
}

.import-export__json:focus {
    color: black;
    font-style: normal;
}

.all-skills {
    margin: 3em 18em 3em 18em;
}

.skill {
    border-radius: 1em;
    border: 2px solid #C8E8E0;
    padding: 1em;
}

.skill__remove {
    display: block;
    float: right;
    height: 2em;
    width: auto;
}

.skill__level-number {
    padding: 0.5em 0 0 0.5em;
    font-size: 3em;
    font-weight: bold;
    color: #00D1A0;
}

.skill__name {
    padding: 0 0 0 0.5em;
    font-size: 2em;
    line-height: 3;
}

.progress-bar__container {
    display: block;
    float: left;
    border-radius: 1em 0 0 1em;
    background-color: #C8E8E0;
    height: 2.2em;
    width: 85%;
    box-sizing: border-box;
}

.progress-bar__container-fill {
    display: block;
    border-radius: 1em 0 0 1em;
    background-color: #00D1A0;
    height: 2.2em;
    text-align: center;
    padding: 0.6em;
    color: white;
    box-sizing: border-box;
}

.progress-bar__buttons {
    display: block;
    float: left;
    width: 14%;
}

.progress-bar__add-input {
    resize: none;
    overflow: hidden;
    float: left;
    margin: 0 1px 0 2px;
    background-color: #00D1A0;
    height: 2.2em;
    width: 65%;
    text-align: center;
    padding: 0.6em;
    color: white;
    box-sizing: border-box;
}

.progress-bar__add-button {
    float: left;
    background-color: #00D1A0;
    border-radius: 0 1em 1em 0;
    height: 2.2em;
    width: 30%;
    text-align: center;
    padding: 0.6em;
    color: white;
    box-sizing: border-box;
}

.progress-bar__wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.skill__experience {
    font-style: italic;
    font-weight: lighter;
}

.add-skill {
    margin: 3em 18em 3em 18em;
    /*border-radius: 2em;
    border: 2px solid #C8E8E0;
    padding: 1em;
    box-sizing: border-box;*/
}

.add-skill__name {
    float: left;
    border-radius: 1em 0 0 1em;
    border: 2px solid #C8E8E0;
    width: 90%;
    height: 4em;
    padding: 1em;
    resize: none;
    padding: 1.3em;
    box-sizing: border-box;
    font-size: 1em;
    color: grey;
    font-style: italic;
}

.add-skill__name:focus {
    color: black;
    font-style: normal;
}

.add-skill__button {
    float: left;
    border-radius: 0 1em 1em 0;
    height: 4em;
    width: 10%;
    border: 2px solid #C8E8E0;
    box-sizing: border-box;
}

.add-skill__button-icon {
    display: block;
    height: 3em;
    width: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.add-skill:after {
    content: "";
    display: table;
    clear: both;
}
